/* primary style */

.red {
  color: red;
}
.uppercase {
  text-transform: uppercase;
}
.white {
  color: white;
}
.text-center {
  text-align: center;
}
.flex{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
header, main{
  margin: 0 92px;
}
/* end  */



.banner {
  height: 600px;
  background-image: url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  color: white;
}
.banner-content {

}
.off-section {
  text-align: center;
}
.off-section > img {
  width: 50%;
}
.midnight-party {
  height: 600px;
  background-image: url("../images/Vectorrr.png");
  background-repeat: no-repeat;
}
.btn-join {
  color: white;
  font-weight: bold;
  font-size: large;
  background: none;
  border: none;
  cursor: pointer;
}
.btn-joinred {
  background-color: red;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: larger;
}
.event-section {
  height: 400px;
  background-image: linear-gradient(pink, rgba(255, 192, 203, 0.082));
  border-radius: 5px;
}
.event-section-content {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coming-soon {
  display: flex;
  gap: 50px;
}
.coming-soon-img {
  border: 10px solid red;
  padding: 10px;
  border-radius: 50%;
}
.hoilday-sale{
}
.holiday-sale-img-container {
 position: relative;
}

.holiday-sale-img1 {
  float: right;
}
.holiday-sale-img2 {

}
.holiday-sale-img3 {
  position: absolute;
  left: 0;
  top: 30px;
 
}
.holiday-sale-img4 {
position: absolute;
right: 300px;
top: 50px;
}
.subscribe-container{
  height: 400px;
  background-color: rgba(255, 192, 203, 0.316);
  border-radius: 5px;
}
.subscribe-btn{
  padding: 15px 30px;
  width: 10%;
  border: none;
  color: white;
  background: red;
  font-weight: bolder;
  border-radius: 0 50px 50px 0;
  
}
.subscribe-email{
padding: 15px 30px;
width: 25%;
border: none;
background: white;
border-radius: 50px 0 0 50px;
}