.red{
    color: red;
}
.uppercase{
    text-transform: uppercase;
}
.banner {
  background-image: url("../images/Banner\ Image.png");
  color: white;
  background-size:contain ;
  background-repeat: no-repeat;
  height: 450px;
  
}
.banner-content{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.off-section{
    text-align: center;
}
.off-section >img{
    width: 50%;
}